<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    Left:{{ count }}
    <br>
    {% if case_history %}
    <a href="{% url 'brief_argument:step_1' case_history.id %}">{{ case_history.legal_issue }}</a>
    {% else %}
    <p>No case history found.</p>
    {% endif %}
    {% for statent in Values %}
    <p>{{statent.book_id}}</p>
    <p>{{statent.name}}</p>
    <p>{{statent.statement}}</p>
    <p>{{statent.citation_list}}</p>
    {% endfor %}
</body>

</html>