<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 1</title>
</head>

<body>
    <div id="app">
        <h1>AIB Step 1</h1>
        <label for="aib_input">Input 1:</label>
        <input type="text" id="aib_input" name="aib_input" value="{{ aib_input }}" ref="aib_input" readonly>
        <button @click="copyText('aib_input')">Copy</button>
        <br>
        <br>
        <br>
        <label for="aib_output">OUTPUT</label>
        <input type="text" id="aib_output" name="aib_output" v-model="aib_output">
        <br>
        <input type="submit" value="Submit" @click="pasteAndSubmit">
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const { createApp, ref, toRefs } = Vue;
    const csrftoken = '{{ csrf_token }}';
    createApp({
        setup() {
            const url = window.location.href;
            const uuid = window.location.href.split('/');
            const aib_input = ref(null);
            const aib_output = ref('');
            const copyText = (value) => {
                switch (value) {
                    case 'aib_input':
                        aib_input.value.select();
                        document.execCommand('copy');
                        break;
                    default:
                        console.log('Invalid value');
                }
            };
            const pasteAndSubmit = () => {
                const textarea = document.getElementById('aib_output');
                axios.put('/api/aib_exam/' + uuid[4] + '/', {
                    aib_relevant_topics: textarea.value,
                }, {
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                }).then(response => {
                    if (response.status === 200) {
                        window.location.href = response.request.responseURL;
                    }
                }).catch(error => {
                    console.error(error);
                });
            };

            return {
                ...toRefs({
                    copyText,
                    pasteAndSubmit,
                }),
                aib_input,
                aib_output,
            };
        },
    }).mount('#app');
</script>


</html>