<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Syndicus</title>
</head>

<body v-cloak>
    <div id="app" class="relative min-h-screen">
        <!-- Sidebar for headings -->
        <div class="hidden lg:block fixed inset-y-0 left-0 w-64 z-10">
            <div class="sticky top-1/3 transform -translate-y-1/2 p-4 ml-6" style="font-family: 'Tinos', serif;">
                <ul class="space-y-4">
                    <li>
                        <a :class="{
                  'text-black': activeSection === 'question',
                  'text-gray-500 hover:text-black': activeSection !== 'question'
                }" class="cursor-pointer transition-colors duration-300 block pb-2 border-b border-gray-300 mb-2"
                            @click="scrollToSection('question')">
                            Question Presented
                        </a>
                    </li>
                    <li>
                        <a :class="{
                  'text-black': activeSection === 'facts',
                  'text-gray-500 hover:text-black': activeSection !== 'facts'
                }" class="cursor-pointer transition-colors duration-300 block pb-2 border-b border-gray-300 mb-2"
                            @click="scrollToSection('facts')">
                            Statement of Facts
                        </a>
                    </li>
                    <li v-for="(subsection, index) in analysisSubsections" :key="index">
                        <a :class="{
                  'text-black': activeSection === 'analysis-' + index,
                  'text-gray-500 hover:text-black': activeSection !== 'analysis-' + index
                }" class="cursor-pointer transition-colors duration-300 block pb-2 border-b border-gray-300 mb-2"
                            @click="scrollToSection('analysis-' + index)">
                            [[ subsection.title ]]
                        </a>
                    </li>
                    <li>
                        <a :class="{
                  'text-black': activeSection === 'conclusion',
                  'text-gray-500 hover:text-black': activeSection !== 'conclusion'
                }" class="cursor-pointer transition-colors duration-300 block pb-2 border-b border-gray-300 mb-2"
                            @click="scrollToSection('conclusion')">
                            Conclusion
                        </a>
                    </li>
                    <!-- <li class="mt-6">
                        <button @click="downloadPdf"
                            class="w-full bg-blue-500 text-white py-2 px-4 rounded mb-2 hover:bg-blue-600 transition-colors duration-300">
                            Download PDF
                        </button>
                        <button @click="copyToClipboard"
                            class="w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition-colors duration-300">
                            Copy for Word
                        </button>
                    </li> -->
                </ul>
            </div>
        </div>

        <!-- Main content -->
        <div class="flex justify-center items-start min-h-screen pt-16 md:pt-8">
            <div class="w-full max-w-3xl px-4 md:px-8">
                <h1 class="text-3xl md:text-4xl font-bold mb-10 text-left"
                    style="font-family: Tinos; font-style: normal; font-weight: 600;">[[ memotitle ]]</h1>
                <div>
                    <section id="question" class="mb-8">
                        <h2 class="text-zinc-900 text-xl md:text-2xl font-bold mb-2"
                            style="font-family: Tinos; font-style: normal; font-weight: 600;">Question Presented</h2>
                        <p v-html="questionContent" class="text-zinc-800 text-l md:text-xl text-justify"
                            style="font-family: Tinos; font-style: normal; font-weight: 400; line-height: 1.7;">
                            <!-- [[ questionContent ]] -->
                        </p>
                    </section>
                    <section id="facts" class="mb-8">
                        <h2 class="text-zinc-900 text-xl md:text-2xl font-bold mb-2"
                            style="font-family: Tinos; font-style: normal; font-weight: 600;">Statement of Facts</h2>
                        <p v-html="factsContent" class="text-zinc-800 text-l md:text-xl text-justify"
                            style="font-family: Tinos; font-style: normal; font-weight: 400; line-height: 1.7;">
                            <!-- [[ factsContent ]] -->
                        </p>
                    </section>
                    <h2 class="text-xl md:text-2xl font-bold mb-2"
                        style="font-family: Tinos; font-style: normal; font-weight: 600;">Analysis</h2>
                    <section v-for="(subsection, index) in analysisSubsections" :key="index" :id="'analysis-' + index"
                        class="mb-8">
                        <h2 class="text-gray-900 text-xl md:text-2xl font-bold mb-2"
                            style="font-family: Tinos; font-style: normal; font-weight: 400;">[[ subsection.title ]]
                        </h2>
                        <div v-html="subsection.content" class="text-zinc-800 text-l md:text-xl text-justify"
                            style="font-family: Tinos; font-style: normal; font-weight: 400; line-height: 1.7;"></div>
                    </section>
                    <section id="conclusion" class="mb-8">
                        <h2 class="text-zinc-900 text-xl md:text-2xl font-bold mb-2"
                            style="font-family: Tinos; font-style: normal; font-weight: 600;">Conclusion</h2>
                        <p v-html="conclusionContent" class="text-zinc-800 text-l md:text-xl text-justify"
                            style="font-family: Tinos; font-style: normal; font-weight: 400; line-height: 1.7;">
                            <!-- [[ conclusionContent ]] -->
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script>
    const { createApp, ref, onMounted, computed } = Vue
    const csrftoken = '{{ csrf_token }}';
    const legal = '{{ legal }}';
    const title = '{{ title }}';
    const facts = '{{ facts }}';
    const analysis = JSON.parse("{{ detailed_analyis|escapejs }}");
    const conclusion = '{{ conclusion }}';
    const app = createApp({
        setup() {
            const memotitle = ref('');
            const questionContent = ref('');
            const factsContent = ref('');
            const conclusionContent = ref('');
            const analysisSubsections = ref([]);
            const activeSection = ref('');

            onMounted(() => {
                analysisSubsections.value = analysis;
                memotitle.value = title;
                questionContent.value = legal;
                factsContent.value = facts;
                conclusionContent.value = conclusion;
                window.scrollTo(0, 0);
            });

            const scrollToSection = (sectionId) => {
                const element = document.getElementById(sectionId);
                if (element) {
                    element.scrollIntoView({ behavior: 'smooth' });
                    activeSection.value = sectionId;
                }
            };

            const handleScroll = () => {
                const sections = ['question', 'facts', ...analysisSubsections.value.map((_, index) => 'analysis-' + index), 'conclusion'];
                for (const section of sections) {
                    const element = document.getElementById(section);
                    if (element) {
                        const rect = element.getBoundingClientRect();
                        if (rect.top >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)) {
                            activeSection.value = section;
                            break;
                        }
                    }
                }
            };

            const generateHTML = () => {
                const content = `
                <html>
                <head>
                <style>
                    body { font-family: Times New Roman, serif; line-height: 1.5; }
                    h1 { font-size: 16pt; font-weight: bold; }
                    h2 { font-size: 14pt; font-weight: bold; }
                    p { font-size: 12pt; text-align: justify; }
                </style>
                </head>
                <body>
                <h1>${memotitle.value}</h1>
                <h2>Question Presented</h2>
                <p>${questionContent.value}</p>
                <h2>Statement of Facts</h2>
                <p>${factsContent.value}</p>
                <h2>Discussion</h2>
                ${analysisSubsections.value.map(subsection => `
                    <h2>${subsection.title}</h2>
                    <p>${subsection.content.replace(/<\/?[^>]+(>|$)/g, "")}</p>
                `).join('')}
                <h2>Conclusion</h2>
                <p>${conclusionContent.value}</p>
                </body>
                </html>
            `;
                return content;
            };

            const downloadPdf = () => {
                const content = generateHTML();
                const doc = new jsPDF({
                    orientation: 'p',
                    unit: 'pt',
                    format: 'a4',
                    putOnlyUsedFonts: true,
                    floatPrecision: 2,
                });

                doc.html(content, {
                    callback: function (doc) {
                        doc.save('legal_memo.pdf');
                    },
                    x: 50,
                    y: 50,
                    width: 495, // A4 width minus margins
                    windowWidth: 1000 // Larger window width for better rendering
                });
            };

            const copyToClipboard = () => {
                const content = generateHTML();
                navigator.clipboard.writeText(content)
                    .then(() => {
                        alert('Content copied to clipboard! You can now paste it into a Word document.');
                    })
                    .catch(err => {
                        console.error('Failed to copy: ', err);
                        alert('Failed to copy. Please try again.');
                    });
            };

            const downloadDocx = () => {
                const content = generateHTML();
                const blob = new Blob([content], { type: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' });
                const link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'legal_memo.docx';
                link.click();
                window.URL.revokeObjectURL(link.href);
            };

            return {
                memotitle,
                questionContent,
                factsContent,
                conclusionContent,
                analysisSubsections,
                activeSection,
                scrollToSection,
                downloadDocx,
                downloadPdf,
                copyToClipboard,
            }
        }
    })
    app.config.compilerOptions.delimiters = ["[[", "]]"];
    app.mount('#app')
</script>

</html>