<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Syndicus</title>
</head>
<style scoped>
    .logo {
        height: 6em;
        padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
    }

    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }

    .logo.vue:hover {
        filter: drop-shadow(0 0 2em #42b883aa);
    }

    .casefacts textarea {
        font-family: "Inter", sans-serif;
    }

    .legalissue textarea {
        font-family: "Inter", sans-serif;
    }
</style>

<body v-cloak>
    <div id="app" class="bg-white font-epilogue px-4 sm:px-8 py-4">
        <form class="px-4 sm:px-8 py-4">
            <div class="legalissue">
                <div class="flex flex-col items-center">
                    <div class="w-full md:w-2/3 relative">
                        <h2 class="text-zinc-500 text-sm mb-2 font-inter">LEGAL ISSUE</h2>
                        <textarea v-model="caseDetail.legal_issue" name="legalIssue" ref="legalIssueRef"
                            class="w-full h-24 sm:h-32 md:h-40 lg:h-48 p-4 text-l font-semibold placeholder-zinc-500 rounded-lg resize-none"
                            placeholder="What is the legal issue?" style="font-size: 28px"></textarea>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-10">
                <div class="casefacts">
                    <h1 class="text-lg sm:text-xl md:text-2xl font-regular text-black mb-4 relative">
                        <span class="relative block">
                            <h2 class="text-zinc-700 text-sm" style="font-family: Inter, sans-serif">FACTS</h2>
                            <h2 class="text-zinc-500 text-sm bb-2" style="font-family: Inter, sans-serif">Please enter
                                the
                                brief facts
                                of the case. You can type or paste relevant information, or upload documents such as
                                First
                                Information
                                Reports, charge sheets, witness statements, and post-mortem reports.</h2>
                        </span>
                    </h1>
                    <!-- <div class="mb-4">
                    <label for="factsFiles" class="sr-only">Choose files</label>
                    <input type="file" name="factsFiles" id="factsFiles" multiple
                      class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none file:bg-gray-50 file:border-0 file:me-4 file:py-3 file:px-4"
                      accept=".pdf" />
                  </div> -->
                    <div class="flex flex-col relative">
                        <div class="w-full">
                            <textarea name="caseFacts" ref="caseFactsRef"
                                class="w-full h-[280px] sm:h-[280px] lg:h-[300px] p-4 text-l placeholder-zinc-500 border border-black rounded-lg bg-[#fffbf7] bg-opacity-25 shadow-lg resize-none focus:outline-none focus:ring-2"
                                :class="{ 'focus:ring-red-400': FactwordLimitExceeded }"
                                placeholder="Type the facts of the case" style="font-size: 20px"
                                @input="updateFactWordCount" v-model="caseDetail.fact_case"></textarea>
                        </div>
                        <div class="absolute bottom-2 right-4 text-gray-400">
                            [[ FactswordCount ]]/25000
                        </div>
                    </div>
                </div>
                <div class="legalresearch">
                    <h1 class="text-lg sm:text-xl md:text-2xl font-regular text-black mb-4 relative">
                        <span class="relative block">
                            <h2 class="text-zinc-700 text-sm" style="font-family: Inter, sans-serif">LEGAL RESEARCH</h2>
                            <h2 class="text-zinc-500 text-sm mb-2" style="font-family: Inter, sans-serif">Please provide
                                relevant case
                                law or legal judgments you wish to include in your legal memorandum. You can include
                                specific case
                                details, citations, or any pertinent legal decisions that support your legal memorandum.
                            </h2>
                        </span>
                    </h1>
                    <!-- <div class="mb-4">
                    <label for="researchFiles" class="sr-only">Choose files</label>
                    <input type="file" name="researchFiles" id="researchFiles" multiple
                      class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none file:bg-gray-50 file:border-0 file:me-4 file:py-3 file:px-4"
                      accept=".pdf" />
                  </div> -->
                    <div class="flex flex-col relative">
                        <div class="w-full">
                            <textarea name="legalResearch" ref="legalResearchRef"
                                class="w-full h-[280px] sm:h-[280px] lg:h-[300px] p-4 text-l placeholder-zinc-500 border border-black rounded-lg bg-[#fffbf7] bg-opacity-25 shadow-lg resize-none focus:outline-none focus:ring-2"
                                :class="{ 'focus:ring-red-400': LegalResearchwordLimitExceeded }"
                                placeholder="Add legal research" style="font-size: 20px" @input="updateLegalResearchWordCount"
                                v-model="caseDetail.legal_research"></textarea>
                        </div>
                        <div class="absolute bottom-2 right-4 text-gray-400">
                            [[ LegalResearchswordCount ]]/25000
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-6">
                <button class="bg-[#050142] text-[#C3E2EF] px-6 py-3 rounded-full text-l"
                    @click.prevent="submitForm()">
                    Generate Memo
                </button>
                <div class="flex flex-col sm:flex-row justify-start px-2">
                    <a href="{% url 'brief_argument:aib_exam' %}"
                        class="flex items-center justify-center text-l text-[#1C175C] rounded-full px-6 py-3 mr-4 mb-4 sm:mb-0 border border-solid border-[#1C175C]">
                        AIB Exam
                    </a>
                </div>
            </div>
        </form>

        <!-- Validation Popup -->
        <div id="EmailPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
                <img src="{%static 'a71836da-b37e-4f13-baf0-c782e80e982b.png' %}" alt="Logo" class="w-20 h-20 mb-4">
                <p class="text-lg text-center mb-4">You will receive an email at the address you used to sign up within
                    30 to 45
                    minutes. Please check your email and follow the instructions.</p>
                <button class="bg-[#050142] text-[#C3E2EF] px-4 py-2 rounded-md" @click="close('EmailPopup')">
                    Okay, I will check my email in 30-45 minutes
                </button>
            </div>
        </div>
        <div id="validationCheck"
            class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
                <img alt="Logo" class="w-20 h-20 mb-4">
                <p class="text-lg text-center mb-4">Please Fill the Values for Legal Issue,Facts and Legal Research.</p>
                <button class="bg-[#050142] text-[#C3E2EF] px-4 py-2 rounded-md" @click="close('validationCheck')">
                    Okay
                </button>
            </div>
        </div>
        <div id="factWordCount_id"
            class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
                <img alt="Logo" class="w-20 h-20 mb-4">
                <p class="text-lg text-center mb-4">Brief Fact Word Count Must not be more than 25000 words.</p>
                <button class="bg-[#050142] text-[#C3E2EF] px-4 py-2 rounded-md" @click="close('factWordCount_id')">
                    Okay
                </button>
            </div>
        </div>
        <!-- <div id="LegalResearchWordCount_id"
            class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col items-center">
                <img alt="Logo" class="w-20 h-20 mb-4">
                <p class="text-lg text-center mb-4">Brief Legal Research Word Count Must not be more than 25000 words.</p>
                <button class="bg-[#050142] text-[#C3E2EF] px-4 py-2 rounded-md" @click="close('LegalResearchWordCount_id')">
                    Okay
                </button>
            </div>
        </div> -->

    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const { createApp, ref, onMounted, computed } = Vue
    const csrftoken = '{{ csrf_token }}';
    const app = createApp({
        setup() {
            const caseDetail = ref({
                fact_case: '',
                legal_issue: '',
                legal_research: '',
            });
            const caseFactsRef = ref(null);
            const legalResearchRef = ref(null);
            const validationError = ref(false);
            const showEmailPopup = ref(false);
            const FactwordLimitExceeded = ref(false);
            const LegalResearchwordLimitExceeded = ref(false);

            onMounted(() => {
                window.scrollTo(0, 0);
            });

            const submitForm = async () => {
                validationCheck();
                if (validationError.value === false) {
                    const requestData = {
                        fact_case: caseDetail.value.fact_case,
                        legal_issue: caseDetail.value.legal_issue,
                        legal_research: caseDetail.value.legal_research,
                    };
                    axios.post('/api/casehistories/', requestData, {
                        headers: {
                            'X-CSRFToken': csrftoken
                        }
                    }).then(response => {
                        showEmailPopup.value = true;
                        const modal = document.getElementById('EmailPopup');
                        modal.classList.remove('hidden');
                        modal.classList.add('block');
                    }).catch(error => {
                        console.error(error);
                    });
                } else {

                }
            };
            const close = (value) => {
                const modal = document.getElementById(value);
                modal.classList.remove('block');
                modal.classList.add('hidden');
            };
            const validationCheck = () => {
                validationError.value = false;
                if (FactwordLimitExceeded.value === true) {
                    validationError.value = true;
                    const modal = document.getElementById('factWordCount_id');
                    modal.classList.remove('hidden');
                    modal.classList.add('block');
                }if (LegalResearchwordLimitExceeded.value === true) {
                    validationError.value = true;
                    const modal = document.getElementById('LegalResearchWordCount_id');
                    modal.classList.remove('hidden');
                    modal.classList.add('block');
                } else {
                    for (const key of ['fact_case', 'legal_issue']) {
                        if (!caseDetail.value[key]) {
                            validationError.value = true;
                            const modal = document.getElementById('validationCheck');
                            modal.classList.remove('hidden');
                            modal.classList.add('block');
                        }
                    }
                }
            };
            const FactswordCount = computed(() => {
                if (caseDetail.value.fact_case) {
                    const words = caseDetail.value.fact_case.trim().split(/\s+/);
                    return words.length;
                }
                return 0
            });
            const updateFactWordCount = () => {
                if (FactswordCount.value > 25000) {
                    FactwordLimitExceeded.value = true;
                    caseDetail.value.fact_case = caseDetail.value.fact_case.slice(0, -1);
                    caseFactsRef.value?.classList.add("focus-ring-red");
                } else {
                    FactwordLimitExceeded.value = false;
                    caseFactsRef.value?.classList.remove("focus-ring-red");
                }
            };
            const LegalResearchswordCount = computed(() => {
                if (caseDetail.value.legal_research) {
                    const words = caseDetail.value.legal_research.trim().split(/\s+/);
                    return words.length;
                }
                return 0
            });
            const updateLegalResearchWordCount = () => {
                if (LegalResearchswordCount.value > 25000) {
                    LegalResearchwordLimitExceeded.value = true;
                    caseDetail.value.legal_research = caseDetail.value.legal_research.slice(0, -1);
                    legalResearchRef.value?.classList.add("focus-ring-red");
                } else {
                    LegalResearchwordLimitExceeded.value = false;
                    legalResearchRef.value?.classList.remove("focus-ring-red");
                }
            };
            return {
                caseDetail,
                submitForm,
                showEmailPopup,
                validationCheck,
                close,
                updateFactWordCount,
                FactswordCount,
                FactwordLimitExceeded,
                updateLegalResearchWordCount,
                LegalResearchswordCount,
                LegalResearchwordLimitExceeded,
            }
        }
    })
    app.config.compilerOptions.delimiters = ["[[", "]]"];
    app.mount('#app')
</script>

</html>