<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brief Legal Researcher</title>
</head>

<body>
    <div id="app">
        <h1>Chat 1</h1>
        <!-- <label for="system_instruction">SYSTEM INSTRUCTION:</label>
        <input type="text" id="system_instruction" name="system_instruction" value="{{ system_instruction }}"
            ref="system_instruction" readonly>
        <button @click="copyText('system_instruction')">Copy</button>
        <br>
        <br>
        <br>
        <label for="input_topics">Topics:</label>
        <input type="text" id="input_topics" name="input_topics" value="{{ input_topics }}" ref="input_topics" readonly>
        <button @click="copyText('input_topics')">Copy</button>
        <br>
        <br>
        <br>
        <label for="legal_fact">FACT_AND_LEGAL:</label>
        <input type="text" id="legal_fact" name="legal_fact" value="{{ legal_fact }}" ref="legal_fact" readonly>
        <button @click="copyText('legal_fact')">Copy</button>
        <br>
        <br>
        <br>
        <label for="instruction">INSTRUCTION:</label>
        <input type="text" id="instruction" name="instruction" value="{{ instruction }}" ref="instruction" readonly>
        <button @click="copyText('instruction')">Copy</button> -->
        <label for="research_input">Input 1:</label>
        <input type="text" id="research_input" name="research_input" value="{{ research_input }}" ref="research_input"
            readonly>
        <button @click="copyText('research_input')">Copy</button>
        <br>
        <br>
        <br>
        <label for="reseach_output">OUTPUT</label>
        <input type="text" id="reseach_output" name="reseach_output" v-model="reseachOutput" readonly>
        <br>
        <input type="submit" value="Paste & Submit" @click="pasteAndSubmit">
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const { createApp, ref, toRefs } = Vue;
    const csrftoken = '{{ csrf_token }}';
    createApp({
        setup() {
            const url = window.location.href;
            const uuid = window.location.href.split('/');
            const system_instruction = ref(null);
            const input_topics = ref(null);
            const legal_fact = ref(null);
            const instruction = ref(null);
            const research_input = ref(null);
            const reseachOutput = ref('');
            const copyText = (value) => {
                switch (value) {
                    // case 'system_instruction':
                    //     system_instruction.value.select();
                    //     document.execCommand('copy');
                    //     break;
                    // case 'input_topics':
                    //     input_topics.value.select();
                    //     document.execCommand('copy');
                    //     break;
                    // case 'legal_fact':
                    //     legal_fact.value.select();
                    //     document.execCommand('copy');
                    //     break;
                    // case 'instruction':
                    //     instruction.value.select();
                    //     document.execCommand('copy');
                    //     break;
                    case 'research_input':
                        research_input.value.select();
                        document.execCommand('copy');
                        break;
                    default:
                        console.log('Invalid value');
                }
            };
            const pasteAndSubmit = () => {
                const pastedText = navigator.clipboard.readText()
                    .then(text => {
                        const pattern = /<Topic[^>]*>([^<]*)/g;
                        const matches = text.match(pattern);
                        const formattedTopics = [];
                        for (const match of matches) {
                            formattedTopics.push(match.substring(match.indexOf('>') + 1));
                        }
                        reseachOutput.value = formattedTopics;
                        axios.post('/api/brief_arguments/', {
                            research_output: reseachOutput.value,
                            case_id: uuid[4],
                        }, {
                            headers: {
                                'X-CSRFToken': csrftoken
                            }
                        }).then(response => {
                            if (response.status === 200) {
                                window.location.href = response.request.responseURL;
                            }
                        }).catch(error => {
                            console.error(error);
                        });
                    })
                    .catch(err => {
                        console.error('Failed to read clipboard contents: ', err);
                    });
            };

            return {
                ...toRefs({
                    copyText,
                    pasteAndSubmit,
                }),
                system_instruction,
                input_topics,
                legal_fact,
                instruction,
                reseachOutput,
                research_input,
            };
        },
    }).mount('#app');
</script>


</html>