<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 1</title>
</head>

<body>
    <div id="app">
        <h1>Step 1</h1>
        <label for="research_input">Input 1:</label>
        <input type="text" id="research_input" name="research_input" value="{{ research_input }}" ref="research_input"
            readonly>
        <button @click="copyText('research_input')">Copy</button>
        <br>
        <br>
        <br>
        <label for="reseach_output">OUTPUT</label>
        <input type="text" id="reseach_output" name="reseach_output" v-model="reseachOutput">
        <br>
        <input type="submit" value="Submit" @click="pasteAndSubmit">
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const { createApp, ref, toRefs } = Vue;
    const csrftoken = '{{ csrf_token }}';
    createApp({
        setup() {
            const url = window.location.href;
            const uuid = window.location.href.split('/');
            const research_input = ref(null);
            const reseachOutput = ref('');
            const copyText = (value) => {
                switch (value) {
                    case 'research_input':
                        research_input.value.select();
                        document.execCommand('copy');
                        break;
                    default:
                        console.log('Invalid value');
                }
            };
            const pasteAndSubmit = () => {
                const textarea = document.getElementById('reseach_output');
                const regex = /(\d+\.\d+)\s+([^(]+)\s*(\([^)]+\))?/g;
                const matches = textarea.value.matchAll(regex);
                relevantTopicList = [];
                for (const match of matches) {
                    const [full, number, text, parentheses] = match;
                    const value = `${text}${parentheses || ''}`;
                    relevantTopicList.push(value);
                }
                axios.post('/api/brief_arguments/', {
                    research_output: relevantTopicList,
                    case_id: uuid[4],
                }, {
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                }).then(response => {
                    if (response.status === 200) {
                        window.location.href = response.request.responseURL;
                    }
                }).catch(error => {
                    console.error(error);
                });
            };

            return {
                ...toRefs({
                    copyText,
                    pasteAndSubmit,
                }),
                reseachOutput,
                research_input,
            };
        },
    }).mount('#app');
</script>


</html>