<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <!-- Include the Quill library -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <title>Step 5</title>
</head>

<body>
    <div id="app">
        <h1>Step 5</h1>
        <label for="step_5_input">INPUT:</label>
        <input type="text" id="step_5_input" name="step_5_input" value="{{ step_5_input }}" ref="step_5_input" readonly>
        <button @click="copyText('step_5_input')">Copy</button>
        <br>
        <br>
        <br>
        <label for="counsel_output_2">OUTPUT</label>
        <br>
        <input type="submit" value="Submit" @click="pasteAndSubmit">
    </div>
    <div id="editor">
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script>
    const { createApp, ref, toRefs } = Vue;
    const csrftoken = '{{ csrf_token }}';
    const quill = new Quill('#editor', {
        theme: 'snow'
    });
    createApp({
        setup() {
            const url = window.location.href;
            const uuid = window.location.href.split('/');
            const step_5_input = ref(null);
            const counsel_output_2 = ref('');
            const copyText = (value) => {
                switch (value) {
                    case 'step_5_input':
                        step_5_input.value.select();
                        document.execCommand('copy');
                        break;
                    default:
                        console.log('Invalid value');
                }
            };
            const pasteAndSubmit = async () => {
                var html = quill.root.innerHTML;
                axios.put('/api/legal_memo/' + uuid[4] + "/step5/", {
                    memo_data: html,
                    brief_id: uuid[4],
                }, {
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                }).then(response => {
                    if (response.status === 200) {
                        window.location.href = response.request.responseURL;
                    }
                }).catch(error => {
                    console.error(error);
                });
            };
            return {
                ...toRefs({
                    copyText,
                    pasteAndSubmit,
                }),
                step_5_input,
                counsel_output_2,
            };
        },
    }).mount('#app');
</script>


</html>